// Глобальные
$bc-color: #04150C;
$primary-color: #C8DB31;
$filling: #464c53; // Заполнитель для того, что не загрузилось

// Компоненты
$bc-color-button: #212529;
$color-button: white;
$bc-color-button-plus: #212529;
$color-button-plus: white;
$fontsize: 16px; // Общая переменная для размера шрифта
