// .card {
//   width: 372px;
// }

.img {
  height: 300px;
  object-fit: cover;
  object-position: center;
//   background-color: #464c53;
//   border-radius: 40px;
//   margin-bottom: 34px;
}

.card__title {
  color: #fff;
  font-family: "Ablation", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-height: 100px;
}

// .card__text {
//   color: #fff;
//   font-family: Montserrat;
//   font-size: 19px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
//   margin-bottom: 32px;
// }

// .card__button {
//   width: 100%;
//   color: #c8db31;
//   background-color: transparent;
//   border: none;
//   padding: 0;
//   font-family: Montserrat;
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: normal;
//   text-decoration-line: underline;
// }
